<%- include('partials/header') %>
<header>
  <div class="container">
    <h1 class="home-heading">Home Page</h1>
    <img src="/img/development.png" class="home-img" alt="" />
  </div>
</header>
<%- include('partials/footer') %>
