<%- include('partials/header') %>
<header>
  <div class="container">
    <h1 class="home-heading">Home Page</h1>
    <img src="/img/development.png" class="home-img" alt="" />
    <a class="view-btn" href="/items">View Items</a>
  </div>
</header>
<%- include('partials/footer') %>
